*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-cantainer {
    height: 100vh;
    width:  100vw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;


}
.main-cantainer video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;



}

h1{
    text-align: center;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 50px;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: #fff;
    padding: 40px 0px;
}
.content-cantainer{
    /* gap: 40px; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    height: 700px;
    width: 900px;
    border-radius: 30px;
    background-color: rgba(0, 255, 255, 0.744);


}

.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-first-section{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;




}
.form-second-section{
    margin: 10px 0px;
      display: flex;
    flex-direction: column;
}
label{
    text-transform: capitalize;
    font-size: 20px;



}

#height{
    border: none;
    border-radius: 10px;
    width: 450px;
    padding: 15px 20px;
    box-shadow: 2px 2px 5px black;
    margin-top: 10px;
    outline: none;



}
#height{

}

#weight{
    border: none;
    border-radius: 10px;
    width: 450px;
    padding: 15px 20px;
    box-shadow: 2px 2px 5px black;
    margin-top: 10px;
    outline: none;

}
.button-icon{
    padding: 15px  40px;
    border: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;



}
#Result{
    text-align: center;
    margin-top: 50px;
}